/* when scrolled */
header.scrolled, header:not(.scrolled):hover, header:not(.scrolled):focus-within {
    background-color: #000000 !important;
}

/* brand */
header .brand {
    width: 150px;
    transition: transform ease-in-out 1.5s;
}
header .brand img {
    --w: 68px;
    width: var(--w);
    height: var(--w);
}