/* user cards */
.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    transition: 0.2s;
    padding: 20px;
}
.user-card {
    display: inline-flex;
    transition: 0.3s;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    text-decoration: none !important;
    background-color: var(--raise-bg);
    box-shadow: var(--raise-0);
    cursor: pointer;
}
/* icon */
.user-card .icon {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: middle;
}
.user-card .icon img {
    filter: drop-shadow(0 2px 5px rgba(0,0,0,0.4));
}
/* info */
.user-card .info {
    display: flex;
    align-items: center;
    padding-right: 20px;
}
/* socials */
.user-card .socials-card {
    display: flex;
    position: relative;
    right: 8px;
}